@for(item of posts; track item.id)
{
<div class="row principalContainer">

  <div class="col-6 col-md-1 quadratoUser">
    <button (click)="openDialog('500ms', '500ms',item)" class="buttonModerato
  ">
      {{

      tipo()==='M' ?
      item.user.name.split(' ')[0].charAt(0)
      +' ' + item.user.name.split(' ')[1].charAt(0) : ''

      }}</button>
  </div>
  <div class="col-12 col-md-11">
    <div class="row">
      <b class="title" [style.color]="tipo()==='M' ? 'red' : 'black'">{{item.title}}</b>
    </div>
    <div class="row">
      <p>
        <span class="content" [hidden]="tipo()==='M'">{{item.body}}</span>
        <span class="autore" [hidden]="tipo()==='B'">Pubblicato da <u class="colorRed">
            {{item.user.username}}</u></span>
      </p>
    </div>
  </div>
</div>
}