.principalContainer{
    
    border-bottom: 1px solid #eeeeee;    background: #f8f8f8;
}


.quadratoUser{
    display: flex;
    align-items: center;justify-content: center;
}




.buttonModerato{
    width: 50px;color: white;
    font-weight: 500;
    font-size:larger;
      height: 50px;
      border-radius: 5px;
      background: red;
      border: none;    cursor: pointer;
}